.container {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: repeat(6 100px 1fr);
  height: auto;
}

header {
  grid-column: 1 /span 2;
  grid-row: 1;
  background-color: blue;
  margin: solid, 1px, grey;
  background-color: wheat;

}

.coordonees {

  font-size: 15px;
}

.nom {
  font-size: 25px;
  margin-bottom: 0;
  margin-bottom: 0;
}

.job {
  font-size: 18px;
  margin: 0 0;
}

.adresse {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.photo {
  transform: rotate(-90deg);
  float: right;
  margin-right: 0;
}

.titre1 {
  grid-column: 1 / span 2;
  grid-row: 2;
  font-size: 22px;
  text-align: center;
  background-color: rgb(150, 135, 135);
}

.intro {
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 1 / span 2;
  grid-row: 3;
  text-align: justify;
}

.titre2 {
  grid-column: 1 / span 2;
  grid-row: 4;
  font-size: 22px;
  text-align: center;
  background-color: rgb(150, 135, 135);
}

.left {
  display: grid;
  grid-template-rows: 6;
  font-weight: bold;
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 1;
  grid-row: 5;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 20%, 20%, 20%, 20%, 20%;
}


.right {
  display: grid;
  grid-template-rows: 6;
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 2;
  grid-row: 5;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 20%, 20%, 20%, 20%, 20%;
}

.taches1 {
  grid-row: 1;
}

.taches2 {
  grid-row: 2;
}

taches3 grid-row: 3;
}

taches4 {
  grid-row: 4;
}

taches5 {
  grid-row: 5;
}


.titre3 {
  grid-column: 1 / span 2;
  grid-row: 6;
  font-size: 22px;
  text-align: center;
  background-color: rgb(150, 135, 135);
}



.formation-left {
  display: grid;
  grid-template-rows: 5;
  font-weight: bold;
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 1;
  grid-row: 7;
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  height: 25%, 25%, 25%, 25%,
}

.formation-right {
  display: grid;
  grid-template-rows: 5;
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 2;
  grid-row: 7;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  height: 25%, 25%, 25%, 25%,
}

.formation1 {
  grid-row: 1;
}
.formation2 {
  grid-row: 2;
}
.formation3 {
  grid-row: 3;
}
.formation4 {
  grid-row: 4;
}
.titre4 {
  grid-column: 1 / span 2;
  grid-row: 8;
  font-size: 22px;
  text-align: center;
  background-color: rgb(150, 135, 135);
}

.langues-left {
  font-weight: bold;
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 1;
  grid-row: 9;
}

.langues-right {
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 2;
  grid-row: 9;
}

.titre5 {
  grid-column: 1 / span 2;
  grid-row: 10;
  font-size: 22px;
  text-align: center;
  background-color: rgb(150, 135, 135);
}


.hobbies-left {
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 1;
  grid-row: 11;
}

.hobbies-right {
  background-color: wheat;
  margin: solid, 1px, grey;
  grid-column: 2;
  grid-row: 11;
}

footer {
  background-color: green;
  margin: solid, 1px, grey;
  grid-column: 1 / span 2;
  grid-row: 12;
}